node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*@react-native*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*react-dom*
public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*metro*
strict-peer-dependencies=false
save-workspace-protocol=false
